<nav>
  <div class="nav-bg"></div>
       <ul>
         <li><a href="introduction.html">Introduction</a></li>
         <li><a href="the_problem.html">The Problem</a></li>
         <li><a href="the_solution.html">The Solution</a></li>
         <li><a href="ASX_S&P500.html">EDA</a></li>
         <li><a href="code_blocks.html">Code Blocks</a></li>
         <li><a href="git_procedures.html">GIT Procedures</a></li>
       <ul>
</nav>
<div class="hero">
  <h1>ASX Leading Indicators</h1>
</div>
<div class="content-wrapper">
